body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(65, 1, 1),rgb(58, 58, 10));
  color: wheat;
  height:100vh;
  font-size: 3vw;
}
.frame{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  border: 2px solid crimson;
  border-radius: 90px;
  background:linear-gradient(rgb(253, 246, 205),rgb(226, 164, 175))
}
h1 {
  color: brown;
  position: relative;
  bottom: 19.98px;
}
h2{
  position: relative;
  top: 24.75px;
  font-size: 5vw;
  color: rgb(252, 53, 3);
}
span{
  color: rgb(102, 36, 104);
}
h3 {
  color: rgb(215, 190, 238);
  font-size: 3.5vw;
  text-align: center;
  text-shadow: 2px 3px 5px rgba(255, 87, 138, 0.8);
}
@media only screen and (max-width:440px) {
  .frame{
    font-size: 3.8vw;
    padding: 0 30px;
    border: 2px solid crimson;
    border-radius: 90px;
    background:linear-gradient(rgb(253, 246, 205),rgb(226, 164, 175))
  }
  h1 {
    color: brown;
    position: relative;
    bottom: 10.98px;
  }
  h2{
    position: relative;
    top: 14.75px;
    font-size: 5.9vw;
    color: rgb(252, 53, 3);
  }
}